<header>
  <nav class="navbar">
    <a href="#">Rating App</a>
    <div class="navs">
          <a href="./">Home</a>
          <a href="./category">Categories</a>
          <a href="./item">Items</a>
          <a href="./rating">Ratings</a>
          <% if (viewData?.loggedIn) { %>
            <a href="./user/profile">Profile</a>
          <% } %>
    </div>
  </nav>
</header>