<h1> Register new user</h1>
<form method="post" action="./user/register">
  <label> Username </label>
  <input type="text" name="username" required="required" autofocus="autofocus">
  <br>
  <label> Email </label>
  <input type="text" name="email">
  <br>
  <label> Password </label>
  <input type="password" name="password" required="required">
  <input type="submit" value="Register">
</form>
<a href="./">Already an user? Login here</a>