<h1>Delete rating</h1>
<form method="post" action="./rating/<%= viewData?.id %>/delete">
  <p> Are you sure you want to delete this rating?</p>
    <button type="submit"autofocus="autofocus">Yes</button>
</form>

<a href="..">Cancel</a>