<% if (viewData?.loggedIn) { %>

<h1><%= viewData.loggedIn.nickname %>'s Profile</h1>
<div>
  <p>@<%= viewData.loggedIn.username %></p>
  <p>Email: <%= viewData.loggedIn.email %></p>
  
  <% if (viewData?.loggedIn?.bio) { %>
    <p>About me: <%= viewData.loggedIn.bio %></p>
  <% } else { %>
    <p>About me: This user has no bio </p>
  <% } %>
    
  <a href="./user/update">Edit profile</a>
</div>

<% } else { %>

  <h1> You are not logged in</h1>
  <p> Log in to see your profile</p>
<% } %>